.blog{
    padding-top: 50px;
    padding-bottom: 50px;
    @include media(lg){
        padding-top: 0;
    }
    &__box{
        text-align: center;
        margin-bottom: 35px;
    }
    &__desc{
        max-width: 460px;
        margin: 0 auto;
    }
    &__title{
        margin-bottom: 10px;
        @include media(md){
            .title{
                font-size: 32px;
            }
        }
    }
    &__card{
        margin-bottom: 20px;
        @include media(md){
            border: 1px solid #EEEEEE;
            padding: 10px;
        }
        &-right{
            border: 1px solid #EEEEEE;
            padding: 10px;
        }
    }
    &__img{
        padding-top: 60%;
        background-size: cover;
        background-position: center;
        @include media(md){
            margin-bottom: 10px;
        }
        &-large{
            padding-top:55%;
            margin-bottom: 10px;
        }
    }
    &__time{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        margin-bottom: 14px;
        li{
            margin-right: 5px;
            padding: 0 5px;
            line-height: 1;
            &:last-child{
                margin-right: 0;
            }
            &:first-child{
                padding-left: 0;
            }
        }
    }
    &__text{
        margin-bottom: 3px;
    }
    &__mal{
        margin-bottom: 6px;
    }
    &__btn{
        i{
            margin-left: 4px;
        }
    }
}