block footer
    footer.footer
        .container
            .footer__top 
                .row 
                    .col-lg-6 
                        .row 
                            .col-lg-6.col-6 
                                .footer__logo
                                    a.logo(href="/")
                                        img(src="../../image/logo.svg", alt="logo")
                                .footer__desc 
                                    p.desc.desc-small.desc-color At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
                                .footer__contact 
                                    a.desc.desc-small.desc-white(href="tel:998912535880") +56 93 230 67 08
                                    a.desc-small.desc-white(href="mailto:@ictiyorovazilola@gmail.com") info@eventex.com
                            .col-lg-5.col-6
                                .footer__title 
                                    h3.title.title-white.title-smaller  USER LINKS
                                ul.footer__list 
                                    li
                                        a.desc.desc-small.desc-color(href="#") About
                                    li
                                        a.desc.desc-small.desc-color(href="#") FAQ
                                    li
                                        a.desc.desc-small.desc-color(href="#") Contact
                                .footer__bot
                                    h3.title.title-white.title-smaller INTERET YOU
                                ul.footer__list 
                                    li
                                        a.desc.desc-small.desc-color(href="#") Get Direction
                                    li
                                        a.desc.desc-small.desc-color(href="#") Our Sponsor
                    .col-lg-6 
                        .row 
                            .col-lg-6
                                .footer__title 
                                    h3.title.title-white.title-smaller INSTAGRAM
                                .footer__picture 
                                    .row 
                                        .col-4.footer__col
                                            .footer__img(style="background-image:url(../../image/image__1.jpg);") 
                                        .col-4.footer__col
                                            .footer__img(style="background-image:url(../../image/image__2.jpg);") 
                                        .col-4.footer__col
                                            .footer__img(style="background-image:url(../../image/image__3.jpg);") 
                                        .col-4.footer__col
                                            .footer__img(style="background-image:url(../../image/image__1.jpg);") 
                                        .col-4.footer__col
                                            .footer__img(style="background-image:url(../../image/image__2.jpg);") 
                                        .col-4.footer__col
                                            .footer__img(style="background-image:url(../../image/image__3.jpg);") 
                            .col-lg-5
                                .footer__title 
                                    h3.title.title-white.title-smaller JOIN OUR NEWSLETTER
                                .footer__desc 
                                    p.desc.desc-small.desc-color Stay informed about the latest events.
                                form.footer__form(action="/")
                                    .form__input 
                                        input(type="email" placeholder="Email*")
                                .form__btn
                                    button.btn SUBCRIBE
            .footer__bottom 
                .row 
                    .col-5 
                        .footer__copy
                            p.desc.desc-small ©Copyright eventex 2022 , All Rights Reserved
                    .col-7.d-flex.justify-content-end.align-items-center
                        ul.footer__follow 
                            span.desc.desc-small.footer__us Follow Us:
                            li
                                a.desc.desc-small(href="#")
                                    i.fa-brands.fa-facebook-f
                            li
                                a.desc.desc-small(href="#")
                                    i.fa-brands.fa-twitter
                            li
                                a.desc.desc-small(href="#")
                                    i.fa-brands.fa-instagram
                            li
                                a.desc.desc-small(href="#")
                                    i.fa-sharp.fa-solid.fa-info
                            li
                                a.desc.desc-small(href="#")
                                    i.fa-brands.fa-google